.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blinkGreen {
  0%, 100% {
    color: limegreen;
    text-shadow: 0 0 10px limegreen, 0 0 20px limegreen;
  }
  50% {
    color: #0a0;
    text-shadow: none;
  }
}

@keyframes blinkRed {
  0%, 100% {
    color: red;
    text-shadow: 0 0 10px red, 0 0 20px red;
  }
  50% {
    color: #900;
    text-shadow: none;
  }
}

.blink-green {
  font-weight: bold;
  text-align: center;
  animation: blinkGreen 1s infinite;
}

.blink-red {
  font-weight: bold;
  text-align: center;
  animation: blinkRed 1s infinite;
}

